{% extends 'todos/base.html' %}

{% block title %}
<title>Todo list</title>
{% endblock %}

{% block content %}
<div class="container">

  <!-- title row -->
  <div class="row">
    <div class="offset-md-2 col-lg-9">
      <div class="page-header">
        <center><h1>
          Hello Jea Pon.
         </h1></center>
      </div>
    </div>
  </div>
  <center><a href="/"><button type="submit" name="submit" class="btn btn-outline-primary">
    back to index
  </button></a></center>
 

{% endblock %}
